{% extends 'partials/base.html.twig' %}

{% if admin.route %}
	{% set context = admin.page(true) %}
{% endif %} {# CHECK THIS??? - what it does #}

{% block javascripts %}

	{% set publish_inline_js %}
	$(document).ready(function(){

		var form = $('#publish-form');
		form.submit(function(e) {
			// prevent form submission
			e.preventDefault();
console.log('foo');
			// submit the form via Ajax
			$.ajax({
				url: form.attr('action'),
				type: form.attr('method'),
				dataType: 'html',
				data: form.serialize(),
				success: function(result) {
					console.log('success');
					// Inject the result in the HTML
					$('#ajax-result').html(result);
				}
			});
		});
	});
	{% endset %}

	{{ parent() }}
	{% do assets.addInlineJS(publish_inline_js) %}

{% endblock %}

{% block titlebar %}
	{#
	<div class="button-bar">
		<a class="button" href="{{ base_url }}"><i class="fa fa-reply"></i> {{ "PLUGIN_ADMIN.BACK"|tu }}</a>
	</div>
	#}
	<h1><i class="fa fa-fw fa-file-text-o"></i> Review and Publish</h1>
{% endblock %}

{% block content %}
<div class="page-data">
<div id="ajax-result"></div>
{# TODO: check for a dirty repo first here #}
{{ dump('git_index:', git_index )}}
{% if git_index is defined %}
	{% if git_index is empty %}
		<p>No changes to publish in $PATH #FIXME</p>
	{% else %}
	{{ page.content|raw }}

	<table class="git-status">
		<thead>
			<tr>
				<th>Change</th>{# TODO: add checkbox #}
				<th>Page</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			{% for file in git_index %}
			<tr>
				<td>{{ file. index }}</td>
				<td>{{ file.path }}</td>
				{% set comments = [] %}
				{% if file.orig_path is defined %}
					{% set comments = comments|merge(["Renamed from {{ file.orig_path }}"]) %}
				{% endif %}
				<td>{{ comments|join('; ') }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="actions">
	<!--
	<form name="git-commit" method="post" action="">
		<input type="submit" value="Publish changes" />
	</form>
	-->{{ dump(forms)}}
	{% include 'forms/form.html.twig' %}
	</div>

	{% endif %}

{% else %}

<p>Something is amiss with Git index not being passed #FIXME</p>
	
{% endif %}

</div>
{% endblock %}