{% extends 'partials/base.html.twig' %}

{% if admin.route %}
	{% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
	{% if isAuthorised %}
		<div class="button-bar">
			<a class="button" id="publish">
				<i class="fa fa-fw fa-upload"></i>{{ "PLUGIN_PUSHY.PUBLISH_BUTTON"|t }}</a>
		</div>
	{% endif %}

	<h1>
		<i class="fa fa-fw fa-upload"></i>
		{{ "PLUGIN_PUSHY.PAGE_HEADER"|t }}
	</h1>
{% endblock %}

{% block content %}
	{% if isAuthorised %}
		<div class="pushy">
			<h1>{{ "PLUGIN_PUSHY.HEADER_ITEM_LIST"|t }}</h1>

		<table>
			<thead>
				<th class="select-all"><input id="select-all" type="checkbox"></th>
				<th class="status">{{ "PLUGIN_PUSHY.LIST_HEADER_STATUS"|t }}</th>
				<th class="path">{{ "PLUGIN_PUSHY.LIST_HEADER_PATH"|t }}</th>
				<th class="edit">{{ "PLUGIN_PUSHY.LIST_HEADER_EDIT"|t }}</th>
			</thead>
			<tbody id="itemlist"></tbody>
		</table>
		<div class="message-summary">
			<label for="summary">{{ "PLUGIN_PUSHY.SUMMARY_TITLE"|t }}<span class="required"> *</span>:</label>
			<input id="summary" type="text">
			<div id="summary-alert" class="">{{ "PLUGIN_PUSHY.ALERT_SUMMARY"|t }}</div>
		</div>
		</div>
	{% else %}
		<div id="messages" class="top-notifications-container default-box-shadow">
			<div class="single-notification info alert hidden" data-gpm-grav=""></div>
			<div class="error alert">{{ "PLUGIN_PUSHY.ALERT_PERMISSION"|t }}</div>
		</div>
	{% endif %}
{% endblock %}
